<h2 class="section_header">Файли на порталі</h2>
<ul class="files-list">
  <li class="files-list_item" *ngFor="let file of filesInfo">
    <mat-icon *ngIf="file.isAvailable" matListIcon color="accent">check</mat-icon>
    <mat-icon *ngIf="!file.isAvailable" matListIcon color="primary">close</mat-icon>
    <h3 matLine>{{ file.title }}</h3>
    <p matLine>
      <span class="file-name">{{ file.name }} </span>
    </p>
  </li>
</ul>

