:host {
  display: block;
}

.section_header {
  margin-bottom: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}

.files-list {
  list-style: none;
  margin: 0 0 3rem 0;
  padding: 0;

}

.files-list_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  h3 {
    font-weight: bolder;
    color:#b0bec5;
  }

  .file-name {
    font-weight: lighter;
  }
}
