:host {
  padding: 0 2rem;
  text-align: center;
}

.top-section {
  padding-bottom: 4rem;
}

.page-header {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0 auto;
  padding-top: 1.2rem;
  padding-bottom: 3rem;
  text-align: center;
}

app-period {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 3rem;
}
