$base-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$cyr-font: 'ProximaNovaRg', 'Segoe UI', sans-serif;

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
  font-family: $cyr-font;
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: 400;
}

app-root {
  display: block;
  margin: 0 auto;
  width: 32rem;
}
