@font-face {
    font-family: 'ProximaNovaExCnBl';
    src: local('Proxima Nova Extra Condensed Black Italic'), local('ProximaNovaExCn-BlackIt'),
        url('assets/fonts/proxima/subset-ProximaNovaExCn-BlackIt.woff2') format('woff2'),
        url('assets/fonts/proxima/subset-ProximaNovaExCn-BlackIt.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'ProximaNovaRg';
    src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
        url('assets/fonts/proxima/subset-ProximaNova-Bold.woff2') format('woff2'),
        url('assets/fonts/proxima/subset-ProximaNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaCnTh';
    src: local('Proxima Nova Condensed Extrabold'), local('ProximaNovaCond-Extrabld'),
        url('assets/fonts/proxima/subset-ProximaNovaCond-Extrabld.woff2') format('woff2'),
        url('assets/fonts/proxima/subset-ProximaNovaCond-Extrabld.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaExCnRg';
    src: local('Proxima Nova Extra Condensed Regular'), local('ProximaNovaExCn-Regular'),
        url('assets/fonts/proxima/subset-ProximaNovaExCn-Regular.woff2') format('woff2'),
        url('assets/fonts/proxima/subset-ProximaNovaExCn-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaExCnTh';
    src: local('Proxima Nova Extra Condensed Extrabold'), local('ProximaNovaExCn-Extrabld'),
        url('assets/fonts/proxima/subset-ProximaNovaExCn-Extrabld.woff2') format('woff2'),
        url('assets/fonts/proxima/subset-ProximaNovaExCn-Extrabld.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaRg';
    src: local('Proxima Nova Bold Italic'), local('ProximaNova-BoldIt'),
        url('assets/fonts/proxima/subset-ProximaNova-BoldIt.woff2') format('woff2'),
        url('assets/fonts/proxima/subset-ProximaNova-BoldIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'ProximaNovaTh';
    src: local('Proxima Nova Thin'), local('ProximaNovaT-Thin'),
        url('assets/fonts/proxima/subset-ProximaNovaT-Thin.woff2') format('woff2'),
        url('assets/fonts/proxima/subset-ProximaNovaT-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaTh';
    src: local('Proxima Nova Extrabold Italic'), local('ProximaNova-ExtrabldIt'),
        url('assets/fonts/proxima/subset-ProximaNova-ExtrabldIt.woff2') format('woff2'),
        url('assets/fonts/proxima/subset-ProximaNova-ExtrabldIt.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'ProximaNovaCnRg';
    src: local('Proxima Nova Condensed Bold Italic'), local('ProximaNovaCond-BoldIt'),
        url('assets/fonts/proxima/subset-ProximaNovaCond-BoldIt.woff2') format('woff2'),
        url('assets/fonts/proxima/subset-ProximaNovaCond-BoldIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'ProximaNovaBl';
    src: local('Proxima Nova Black'), local('ProximaNova-Black'),
        url('assets/fonts/proxima/subset-ProximaNova-Black.woff2') format('woff2'),
        url('assets/fonts/proxima/subset-ProximaNova-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaCnRg';
    src: local('Proxima Nova Condensed Regular'), local('ProximaNovaCond-Regular'),
        url('assets/fonts/proxima/subset-ProximaNovaCond-Regular.woff2') format('woff2'),
        url('assets/fonts/proxima/subset-ProximaNovaCond-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaBl';
    src: local('Proxima Nova Black Italic'), local('ProximaNova-BlackIt'),
        url('assets/fonts/proxima/subset-ProximaNova-BlackIt.woff2') format('woff2'),
        url('assets/fonts/proxima/subset-ProximaNova-BlackIt.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'ProximaNovaRg';
    src: local('Proxima Nova Regular Italic'), local('ProximaNova-RegularIt'),
        url('assets/fonts/proxima/subset-ProximaNova-RegularIt.woff2') format('woff2'),
        url('assets/fonts/proxima/subset-ProximaNova-RegularIt.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'ProximaNovaExCnLt';
    src: local('Proxima Nova Extra Condensed Light Italic'), local('ProximaNovaExCn-LightIt'),
        url('assets/fonts/proxima/subset-ProximaNovaExCn-LightIt.woff2') format('woff2'),
        url('assets/fonts/proxima/subset-ProximaNovaExCn-LightIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'ProximaNovaExCnRg';
    src: local('Proxima Nova Extra Condensed Regular Italic'), local('ProximaNovaExCn-RegularIt'),
        url('assets/fonts/proxima/subset-ProximaNovaExCn-RegularIt.woff2') format('woff2'),
        url('assets/fonts/proxima/subset-ProximaNovaExCn-RegularIt.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'ProximaNovaLt';
    src: local('Proxima Nova Semibold Italic'), local('ProximaNova-SemiboldIt'),
        url('assets/fonts/proxima/subset-ProximaNova-SemiboldIt.woff2') format('woff2'),
        url('assets/fonts/proxima/subset-ProximaNova-SemiboldIt.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'ProximaNovaTh';
    src: local('Proxima Nova Thin Italic'), local('ProximaNova-ThinIt'),
        url('assets/fonts/proxima/subset-ProximaNova-ThinIt.woff2') format('woff2'),
        url('assets/fonts/proxima/subset-ProximaNova-ThinIt.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'ProximaNovaCnBl';
    src: local('Proxima Nova Condensed Black Italic'), local('ProximaNovaCond-BlackIt'),
        url('assets/fonts/proxima/subset-ProximaNovaCond-BlackIt.woff2') format('woff2'),
        url('assets/fonts/proxima/subset-ProximaNovaCond-BlackIt.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'ProximaNovaExCnBl';
    src: local('Proxima Nova Extra Condensed Black'), local('ProximaNovaExCn-Black'),
        url('assets/fonts/proxima/subset-ProximaNovaExCn-Black.woff2') format('woff2'),
        url('assets/fonts/proxima/subset-ProximaNovaExCn-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaExCnTh';
    src: local('Proxima Nova Extra Condensed Extrabold Italic'), local('ProximaNovaExCn-ExtrabldIt'),
        url('assets/fonts/proxima/subset-ProximaNovaExCn-ExtrabldIt.woff2') format('woff2'),
        url('assets/fonts/proxima/subset-ProximaNovaExCn-ExtrabldIt.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'ProximaNovaExCnTh';
    src: local('Proxima Nova Extra Condensed Thin Italic'), local('ProximaNovaExCn-ThinIt'),
        url('assets/fonts/proxima/subset-ProximaNovaExCn-ThinIt.woff2') format('woff2'),
        url('assets/fonts/proxima/subset-ProximaNovaExCn-ThinIt.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'ProximaNovaExCnRg';
    src: local('Proxima Nova Extra Condensed Bold Italic'), local('ProximaNovaExCn-BoldIt'),
        url('assets/fonts/proxima/subset-ProximaNovaExCn-BoldIt.woff2') format('woff2'),
        url('assets/fonts/proxima/subset-ProximaNovaExCn-BoldIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'ProximaNovaCnRg';
    src: local('Proxima Nova Condensed Regular Italic'), local('ProximaNovaCond-RegularIt'),
        url('assets/fonts/proxima/subset-ProximaNovaCond-RegularIt.woff2') format('woff2'),
        url('assets/fonts/proxima/subset-ProximaNovaCond-RegularIt.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'ProximaNovaExCnLt';
    src: local('Proxima Nova Extra Condensed Light'), local('ProximaNovaExCn-Light'),
        url('assets/fonts/proxima/subset-ProximaNovaExCn-Light.woff2') format('woff2'),
        url('assets/fonts/proxima/subset-ProximaNovaExCn-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaLt';
    src: local('Proxima Nova Semibold'), local('ProximaNova-Semibold'),
        url('assets/fonts/proxima/subset-ProximaNova-Semibold.woff2') format('woff2'),
        url('assets/fonts/proxima/subset-ProximaNova-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaExCnRg';
    src: local('Proxima Nova Extra Condensed Bold'), local('ProximaNovaExCn-Bold'),
        url('assets/fonts/proxima/subset-ProximaNovaExCn-Bold.woff2') format('woff2'),
        url('assets/fonts/proxima/subset-ProximaNovaExCn-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaLt';
    src: local('Proxima Nova Light Italic'), local('ProximaNova-LightIt'),
        url('assets/fonts/proxima/subset-ProximaNova-LightIt.woff2') format('woff2'),
        url('assets/fonts/proxima/subset-ProximaNova-LightIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'ProximaNovaRg';
    src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
        url('assets/fonts/proxima/subset-ProximaNova-Regular.woff2') format('woff2'),
        url('assets/fonts/proxima/subset-ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaTh';
    src: local('Proxima Nova Extrabold'), local('ProximaNova-Extrabld'),
        url('assets/fonts/proxima/subset-ProximaNova-Extrabld.woff2') format('woff2'),
        url('assets/fonts/proxima/subset-ProximaNova-Extrabld.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaCnTh';
    src: local('Proxima Nova Condensed Thin Italic'), local('ProximaNovaCond-ThinIt'),
        url('assets/fonts/proxima/subset-ProximaNovaCond-ThinIt.woff2') format('woff2'),
        url('assets/fonts/proxima/subset-ProximaNovaCond-ThinIt.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'ProximaNovaCnLt';
    src: local('Proxima Nova Condensed Semibold'), local('ProximaNovaCond-Semibold'),
        url('assets/fonts/proxima/subset-ProximaNovaCond-Semibold.woff2') format('woff2'),
        url('assets/fonts/proxima/subset-ProximaNovaCond-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaCnLt';
    src: local('Proxima Nova Condensed Light Italic'), local('ProximaNovaCond-LightIt'),
        url('assets/fonts/proxima/subset-ProximaNovaCond-LightIt.woff2') format('woff2'),
        url('assets/fonts/proxima/subset-ProximaNovaCond-LightIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'ProximaNovaExCnLt';
    src: local('Proxima Nova Extra Condensed Semibold Italic'), local('ProximaNovaExCn-SemiboldIt'),
        url('assets/fonts/proxima/subset-ProximaNovaExCn-SemiboldIt.woff2') format('woff2'),
        url('assets/fonts/proxima/subset-ProximaNovaExCn-SemiboldIt.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'ProximaNovaCnRg';
    src: local('Proxima Nova Condensed Bold'), local('ProximaNovaCond-Bold'),
        url('assets/fonts/proxima/subset-ProximaNovaCond-Bold.woff2') format('woff2'),
        url('assets/fonts/proxima/subset-ProximaNovaCond-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaCnLt';
    src: local('Proxima Nova Condensed Light'), local('ProximaNovaCond-Light'),
        url('assets/fonts/proxima/subset-ProximaNovaCond-Light.woff2') format('woff2'),
        url('assets/fonts/proxima/subset-ProximaNovaCond-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaExCnLt';
    src: local('Proxima Nova Extra Condensed Semibold'), local('ProximaNovaExCn-Semibold'),
        url('assets/fonts/proxima/subset-ProximaNovaExCn-Semibold.woff2') format('woff2'),
        url('assets/fonts/proxima/subset-ProximaNovaExCn-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaLt';
    src: local('Proxima Nova Light'), local('ProximaNova-Light'),
        url('assets/fonts/proxima/subset-ProximaNova-Light.woff2') format('woff2'),
        url('assets/fonts/proxima/subset-ProximaNova-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaCnTh';
    src: local('Proxima Nova Condensed Extrabold Italic'), local('ProximaNovaCond-ExtrabldIt'),
        url('assets/fonts/proxima/subset-ProximaNovaCond-ExtrabldIt.woff2') format('woff2'),
        url('assets/fonts/proxima/subset-ProximaNovaCond-ExtrabldIt.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'ProximaNovaExCnTh';
    src: local('Proxima Nova Extra Condensed Thin'), local('ProximaNovaExCn-Thin'),
        url('assets/fonts/proxima/subset-ProximaNovaExCn-Thin.woff2') format('woff2'),
        url('assets/fonts/proxima/subset-ProximaNovaExCn-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaCnBl';
    src: local('Proxima Nova Condensed Black'), local('ProximaNovaCond-Black'),
        url('assets/fonts/proxima/subset-ProximaNovaCond-Black.woff2') format('woff2'),
        url('assets/fonts/proxima/subset-ProximaNovaCond-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaCnTh';
    src: local('Proxima Nova Condensed Thin'), local('ProximaNovaCond-Thin'),
        url('assets/fonts/proxima/subset-ProximaNovaCond-Thin.woff2') format('woff2'),
        url('assets/fonts/proxima/subset-ProximaNovaCond-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaCnLt';
    src: local('Proxima Nova Condensed Semibold Italic'), local('ProximaNovaCond-SemiboldIt'),
        url('assets/fonts/proxima/subset-ProximaNovaCond-SemiboldIt.woff2') format('woff2'),
        url('assets/fonts/proxima/subset-ProximaNovaCond-SemiboldIt.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

/* noto-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/noto-sans/noto-sans-v8-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans'), local('NotoSans'),
       url('assets/fonts/noto-sans/noto-sans-v8-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/noto-sans/noto-sans-v8-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/fonts/noto-sans/noto-sans-v8-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('assets/fonts/noto-sans/noto-sans-v8-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assets/fonts/noto-sans/noto-sans-v8-latin_cyrillic-regular.svg#NotoSans') format('svg'); /* Legacy iOS */
}
/* noto-sans-italic - latin_cyrillic */
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 400;
  src: url('assets/fonts/noto-sans/noto-sans-v8-latin_cyrillic-italic.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans Italic'), local('NotoSans-Italic'),
       url('assets/fonts/noto-sans/noto-sans-v8-latin_cyrillic-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/noto-sans/noto-sans-v8-latin_cyrillic-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/fonts/noto-sans/noto-sans-v8-latin_cyrillic-italic.woff') format('woff'), /* Modern Browsers */
       url('assets/fonts/noto-sans/noto-sans-v8-latin_cyrillic-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assets/fonts/noto-sans/noto-sans-v8-latin_cyrillic-italic.svg#NotoSans') format('svg'); /* Legacy iOS */
}
/* noto-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/noto-sans/noto-sans-v8-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans Bold'), local('NotoSans-Bold'),
       url('assets/fonts/noto-sans/noto-sans-v8-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/noto-sans/noto-sans-v8-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/fonts/noto-sans/noto-sans-v8-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
       url('assets/fonts/noto-sans/noto-sans-v8-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assets/fonts/noto-sans/noto-sans-v8-latin_cyrillic-700.svg#NotoSans') format('svg'); /* Legacy iOS */
}
/* noto-sans-700italic - latin_cyrillic */
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 700;
  src: url('assets/fonts/noto-sans/noto-sans-v8-latin_cyrillic-700italic.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans Bold Italic'), local('NotoSans-BoldItalic'),
       url('assets/fonts/noto-sans/noto-sans-v8-latin_cyrillic-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/noto-sans/noto-sans-v8-latin_cyrillic-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/fonts/noto-sans/noto-sans-v8-latin_cyrillic-700italic.woff') format('woff'), /* Modern Browsers */
       url('assets/fonts/noto-sans/noto-sans-v8-latin_cyrillic-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assets/fonts/noto-sans/noto-sans-v8-latin_cyrillic-700italic.svg#NotoSans') format('svg'); /* Legacy iOS */
}
