<mat-form-field>
  <input matInput [matDatepicker]="dp" placeholder="Період" [formControl]="date">
  <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
  <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event)"
    (monthSelected)="chosenMonthHandler($event, dp)" panelClass="example-month-picker">
  </mat-datepicker>
</mat-form-field>

  <!-- files on portal  -->
<app-portal-files></app-portal-files>

<button mat-raised-button color="primary" (click)="getReportData()" [disabled]="btnDisabled" >Побудувати</button>
